{% extends 'base.html.twig' %}

{% block title %}Appartenir index{% endblock %}

{% block contenuAppartenir %}
    <h1>Appartenir index</h1>

<div class="row long75pc">
    <div class="col-md-12 search-table-col">
        <div class="row">
            <div class="col-2" ><a class="btn btn-primary" id="btnAddMat" href="{{ path('appartenir_new') }}">Ajouter</a></div>
            <div class="col-2"></div> <div class="col-2"></div>
            <div class="col-4 offset-2"><input type="text" class="search form-control" placeholder="Search by typing here.."></div>
        </div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results ">
            <table class="table table-bordered table-hover ">
                <thead class="bill-header cs">
                    <tr>
                        <th>Id</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for appartenir in appartenirs %}
                    <tr>
                        <td>{{ appartenir.id }}</td>
                        <td style="width: 21%;">
                            <span class="long7pc"><a href="{{ path('appartenir_show', {'id': appartenir.id}) }}"><i class="fas fa-file-alt fa-lg"></i></a></span>
                            <span  class="long7pc"><a href="{{ path('appartenir_edit', {'id': appartenir.id}) }}"><i class="fas fa-edit fa-lg"></i></a></span>
                            <span  class="long7pc"><a href=""><i class="fas fa-trash fa-lg"></i></a></span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Pas de résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
