{{ form_start(form, {attr: {class: 'formControl'} }) }}
    {{ form_widget(form) }}
<button class="btn btn-outline-warning bg-secondary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}


