{% extends 'base.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block contenuExercice %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Enonce</th>
                <td>{{ exercice.enonce }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary bg-gradient-info" href="{{ path('exercices_index') }}"><- Retour </a>


    {{ include('exercices/_delete_form.html.twig') }}
{% endblock %}
