{% extends 'base.html.twig' %}

{% block title %} Situation -> Nouveau {% endblock %}

{% block contenuSituation %}


    {{ include('situation/_form.html.twig') }}

    <a class="btn btn-outline-primary bg-gradient-info" href="{{ path('niveaux_index') }}"><- Retour </a>
{% endblock %}
