{% extends 'base.html.twig' %}

{% block title %}Solutions{% endblock %}

{% block contenuSolution %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solution.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ solution.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary bg-gradient-info" href="{{ path('solutions_index') }}"><- Retour </a>


    {{ include('solutions/_delete_form.html.twig') }}
{% endblock %}
