{% extends 'base.html.twig' %}

{% block title %}Edit Inscriptions{% endblock %}

{% block contenuInscription %}

    {{ include('inscriptions/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary bg-gradient-info" href="{{ path('inscriptions_index') }}"><- Retour </a>

    {{ include('inscriptions/_delete_form.html.twig') }}
{% endblock %}
